@use '../util/' as u;


main {
    max-width: 80vw;
    margin-inline: auto;
    // background-color: gold;
    font-size: 20px;


    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // // grid-template-rows: auto;


    .main__info {
        width: 75%;

        h1 {
            font-size: 3em;
            font-family: u.$font-Play;
            margin-bottom: 1rem;
        }

        p {
            font-family: u.$font-Lato;
            font-weight: 400;
            margin-bottom: 1rem;

        }
    }


    & .image__section {
        img {
            width: 20rem;
        }
    }

    .unsubscribe {
        img {
            width: 1rem;
            margin-right: 0.5rem;
        }

        display: flex;
        color: hsla(0, 0%, 0%, 60%);
        margin-top: 1rem;
    }
}