@use '../util/' as u;


main {
    max-width: 80vw;
    margin-inline: auto;
    font-size: 1.25rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;

    .main__section {
        align-self: center;
        justify-self: center;
    }




    .main__info {
        width: 75%;

        h1 {
            font-size: 7vmin;
            font-family: u.$font-Play;
            margin-bottom: 1rem;
        }

        p {
            font-family: u.$font-Lato;
            font-weight: 400;
            margin-bottom: 1rem;

        }
    }


    .unsubscribe {
        img {
            width: 1rem;
            margin-right: 0.5rem;
        }

        display: flex;
        color: hsla(0, 0%, 0%, 60%);
        margin-top: 1rem;
    }
}

.wrapper {
    position: relative;


    >* {
        position: absolute;
        width: 100%;
    }

    .purple {
        top: 1rem;
        left: 3rem;
        transform: rotate(-45deg);
    }

    .blue {
        top: 1rem;
        left: 3rem;
        transform: rotate(-32.5deg);
    }

    .pink {
        top: 1rem;
        left: 3rem;
        transform: rotate(-20deg);
    }

    .hero {
        top: 1rem;
        left: 3rem;
    }
}

// mobile design

@media only screen and (max-width: 900px) {

    main {
        // background-color: gold;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(10rem, 20rem) 1fr;
        grid-template-areas:
            "content"
            "images";
        margin: 0 auto;
        padding: 0;
    }

    nav>ul {
        display: none;
    }

    .cta-nav {
        display: none;
    }

    .image__section {
        grid-area: content;

        // background-color: rebeccapurple;
    }

    .main__section {
        grid-area: images;
        margin-top: 2em;
        z-index: 1;

        input {
            padding: 0.75em 1em;

        }
    }

    .main__info p {
        font-size: 1rem;
    }

    .unsubscribe p {
        font-size: 1rem;
    }

}